extends layout

block content
	div.site-wrapper
		div.site-wrapper-inner
			div.cover-container
				div.masthead.clearfix
					div.inner
						h3.masthead-brand 
							a(href="/") Logo
						ul.nav.masthead-nav
							li.active
								a(href="#") Home
							li
								a(href="/#") Sign in
							li
								a(href="/signup") Sign up
				div.jumbotron(style="border-radius: 20px;")
					h1.cover-heading Backup
					p.lead Google stores your contacts. We'll store everything else.
					p.lead
						a(href="#").btn.btn-lg.btn-default For Developers
						a(href="#").btn.btn-lg.btn-default For Everyone Else
				div.mastfoot
					a(href="#") Contact